.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  pad: 20px;
}

.links {
  margin-left: auto;
  margin-right: 30px;
}

.mainLink {
  margin-right: 15px;
}
